{% extends "layout.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% for event in events %}
<div class="col-sm-5">
	<h2><a href="{{ path('event', { 'eventId': event.id }) }}">{{ event.name }} (in {{ event.currency }})</a></h2>
</div>
{% endfor %}

{% endif %}

{% endblock %}