{% extends "layout.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat ligula eu lorem placerat tempus. Etiam semper elementum erat et interdum. Nullam fermentum iaculis massa in dictum. Aenean varius tincidunt turpis, non auctor libero placerat sit amet. Nunc at porta nulla. Suspendisse potenti. Pellentesque ante diam, tincidunt sed mattis quis, porttitor auctor dolor. Praesent in neque non magna sagittis aliquam.

Ut id iaculis ipsum. Duis eu dui et leo malesuada aliquam ut non urna. Sed at leo vel tellus mollis maximus et sit amet metus. Donec eu scelerisque leo, a lacinia diam. Maecenas sollicitudin ipsum vitae maximus rhoncus. Morbi eleifend nec lectus eget posuere. Aenean sagittis nunc turpis, vel consectetur est dapibus vitae. Nam orci enim, venenatis in felis quis, ultrices gravida lorem.

Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam vitae viverra est. In volutpat leo dolor, at aliquam arcu sollicitudin eleifend. In a pretium velit, ut elementum quam. Integer quis auctor diam. Phasellus quis nisi vitae eros elementum cursus. Donec molestie ultricies facilisis. Praesent varius lobortis erat at luctus. Donec pellentesque felis in sodales posuere. Curabitur vitae tellus ac orci pharetra rhoncus. Nam euismod sapien at eros pretium, et imperdiet orci hendrerit. Cras consequat, felis congue bibendum eleifend, arcu est pulvinar magna, id molestie neque neque vel velit. In hac habitasse platea dictumst. Vestibulum non ante orci. Quisque posuere rhoncus lacus, faucibus eleifend augue. Quisque maximus nunc eu lacus congue faucibus. </p>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% for event in events %}
<div>
    <h2><a href="{{ path('event', { 'eventId': event.id }) }}">{{ event.name }}</a></h2>
    <p>{{ event.currency }}</p>
</div>
{% endfor %}

{% endif %}

{% endblock %}